:root {
    --font: "Inter", sans-serif;
    --font-base: 14px;
    --dark-blue: #1E293B;
    --text-color: #232C33;
    --white: #FFFFFF;
    --violet: #4F46E5;
    --bg-color: #E2E8F0;
    --card-bg-color: #F1F7FF;
    --card-title-color: #475569;
    --card-description-color: #64748B;
    --card-description-color--two: #94A3B8;
}

/* Normalice */

*{
    font-family: var(--font);
    text-decoration: none;
    list-style: none;
    color: var(--dark-blue);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
}

/* Common */
.title h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--dark-blue);
}

.title span{
    font-size: 2.5rem;
    color: var(--violet);
    font-weight: 600;
    margin-bottom: 40px;
}

.title__container{
    margin-bottom: 3rem;
}

.section{
    padding-top: 4rem;
    /* padding-bottom: 0rem; */
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    padding: 0 112px;
}

.btn{
    cursor: pointer;
    padding: 14px 28px;
    border-radius: 8px;
    border: none;
    background: none;
    color: var(--text-color);
    font-size: 22px;
    font-weight: regular;
}

.btn--dark{
    color: var(--white);
    background-color: var(--dark-blue);
}

.btn--link{
    color: var(--violet);
}

.calltoaction{
    color: var(--white);
    background-color: var(--violet);
}

.idiom{
    border: none;
}

.btn--idiom{
    border: none;
    /* background-color: var(--violet); */
    background: none;
    color: var(--white);
}

/* layout */
.footer{
    background-color: var(--dark-blue);
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__tag{
    color: var(--white);
    font-size: 20px;
}

.header{
    z-index: 1;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 112px;
    padding-top: 24px;
}

.header__logo a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a img{
    width: 80px;
    height: 80px;
}

.header__logo a span{
    font-size: 48px;
    font-weight: bold;
    color: var(--text-color);
}

.header__aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__aside :not(:last-child) {
    margin-right: 30px;
}


/* Main */
.hero{
    padding-bottom: 4rem;
    padding-top: 0;
}

.hero__wrapper{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 132px;
}

.hero__wrapper img{
    position: absolute;
    top: 0;
    right: 0;
    height: 90vh;
    width: auto;
    z-index: -1;
}

.hero__aside{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    /* 1080 12rem */
}

.hero__aside h1{
    font-size: 110px;
    font-weight: bold;
    margin-bottom: 54px;
}

.hero__aside p{
    font-size: 24px;
    font-weight: 300;
    max-width: 500px;
    text-align: left;
    margin-bottom: 64px;
    color: #232C33;
}

.card{
    background: var(--card-bg-color);
    border-radius: 44px;
    padding: 40px 40px 60px 40px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 280px;
    height: 320px;
    position: relative;
}

.card__pricing{
    background: var(--card-bg-color);
    border-radius: 16px;
    padding: 20px 35px 20px 35px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 280px;
    height: 320px;
}

.card__content h2 {
    color: var(--card-title-color);
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.card__content p {
    color: var(--card-description-color);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding: 0 40px;
}

.card__icon img{
    width: 100px;
    height: 100px;
    margin: 40px 0 60px 0;
}

.cards-group{
    display: flex;
    justify-content: space-around;
}

.card__price{
    padding: 15px 60px;
    background-color: var(--dark-blue);
    border-radius: 16px;
    border: none;
    height: 25px;
    width: 70px;
}

.card__head{
    display: block;
}

.card__head h2{
    color: var(--dark-blue);
    font-size: 32px;
    margin-bottom: 25px;
}

.card__head ul li{
    color: var(--card-description-color--two);
    list-style: none;
    text-align: left;
    max-width: 90%;
    margin-bottom: 20px;
}

.card__price span{
    color: var(--white);
    font-size: 22px;
    font-weight: 400;
}

.providers__content ul li img{
    height: 160px;
    width: auto;
}

.providers__content ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__container{
    padding: 60px 120px 60px 60px;
    max-width: 725px;
    background: var(--card-bg-color);
    border-radius: 16px;
}

.form img{
    width: 550px;
    height: auto;
    position: absolute;
    top: 10%;
    right: 5%;

}

.form{
    position: relative;
}
.form__content{
    display: flex;
    flex-direction: column;
}

.contact{
    padding-bottom: 80px;
}

.form__btn{
    margin-top: 5px;
    text-align: center;
}

.form-control-labels{
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
}

.form-control{
    border-radius: 8px;
    height: 50px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    margin-bottom: 55px;
    padding-left: 35px;
    font-size: 18px;
}

@media (max-width: 768px) {
    .form img{
      display: none;
    }

    .form__container{
      padding: 60px;           
    }
    .cards-group{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card:not(:last-child){
        margin-bottom: 50px;
    }
    .card__pricing:not(:last-child){
        margin-bottom: 50px;
    }
    .providers__content ul{
        flex-direction: column;
    }
    .providers__content ul li:not(:last-child){
        margin-bottom: 50px;
    }
    .hero__wrapper img{
        display: none;
    }
    .header__aside{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper{
        padding: 0 50px;
    }
    .header__logo a span{
        font-size: 24px;
    }
    .header__logo a img{
        width: 32px;
        height: auto;
    }
  }

  @media (max-width: 390px) {
    .wrapper{
        padding: 0 24px;
        padding-top: 24px;
    }
    .header__logo a span{
        font-size: 24px;
    }
    .header__logo a img{
        width: 32px;
        height: auto;
    }
    .hero__aside{
        margin-top: 4rem;
    }
    .hero__aside h1{
        font-size: 48px;
    }
    .hero__aside p{
        font-size: 20px;
    }
    .btn{
        cursor: pointer;
        padding: 7px 14px;
        border-radius: 8px;
        font-size: 16px;
    }
    .hero__buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn--link{
        padding-left: 0;
    }
    .providers__content ul li img{
        height: 120px;
        width: auto;
    }
    .card,
    .card__pricing{
        width: auto;
    }
    .form__container{
        padding: 60px 30px;
    }
    .form-control{
        height: 30px;
        margin-bottom: 25px;
        padding-left: 20px;
        font-size: 14px;
    }
    .form-control-labels{
        font-size: 20px;
    }
  }